@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

.card {
  @apply bg-gray-800 rounded-xl p-6 shadow-lg border border-gray-700 hover:border-gray-600 transition-all duration-300;
}

.card-hover {
  @apply hover:transform hover:scale-105 hover:shadow-2xl;
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.animate-slide-left {
  animation: slide-left 20s linear infinite;
}

@keyframes slide-left-right {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
  }
}

.animate-slide-left-right {
  animation: slide-left-right 20s ease-in-out infinite;
}